.LogoBorde {
    width: 70%;
    max-width: 180px;
    height: auto;
    border-width: 3px;
    border-color: black;
    border-radius: 100px;
    border-style: double;
}




.color {

    background-color:dimgrey;

}

.color1 {

    background:rgb(225, 207, 8)

}

.imgtamaño {
    width: 30px;
    height: 30px;
}

.espacio {
    width: 100%;
    height: 50px;

}

.card-img-top{
    width: 100%;
    height: 150px;
    justify-items: center;
    border-radius: 5px;

}

.cuadro {
    width: 50%;
    height: 90%;
    align-content: flex-end;
    background-color: beige;
    background-position: center;
}

/*productos*/

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
    min-height: 400px;
    height: 100%;
    max-height: 1200px;
    margin: auto;
    gap: 10px;
    overflow:hidden;
    align-items: center;

} 


.portada{
    width: 100%;
    height: 100%;
    grid-column: 1/5;
    background-image: linear-gradient(darkgoldenrod,rgb(225, 207, 8));
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.LogoBorde2 {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-width: 3px;
    border-color: black;
    border-radius: 100%;
    border-style: double;
}




/*productos*/

.hover-items{

    grid-column:5/12;
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}



@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Quattrocento);
.imgprod {
  font-family: 'Quattrocento', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #141414;
  text-align: left;
  line-height: 1.4em;
  font-size: 16px;
}
.imgprod * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.imgprod img { 
  max-width: 100%;
  vertical-align: top;
}
.imgprod figcaption {
  position: absolute;
  top: calc(77%);
  width: 100%;
  background-color: #ffffff;
  padding: 15px 25px 65px;
}
.imgprod figcaption:before {
  position: absolute;
  content: '';
  z-index: 2;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 80px;
  background-image: -webkit-linear-gradient(top, transparent 0%, #030200 100%);
  background-image: linear-gradient(to bottom, transparent 0%, #ffffff 100%);
}
.imgprod h3,
.imgprod p {
  margin: 0 0 10px;
}
.imgprod h3 {
  font-weight: 300;
  font-size: 1.4em;
  line-height: 1.2em;
  font-family: 'Oswald', Arial, sans-serif;
  text-transform: uppercase;
}
.imgprod p {
  font-size: 0.9em;
  letter-spacing: 1px;
  opacity: 0.9;
}
.imgprod a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.imgprod:hover figcaption,
.imgprod.hover figcaption {
  top: 80px;
}

